<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        Offline Mode
        <ion-toggle [(ngModel)]="offlineMode" (ionChange)="switchMode()" color="light"></ion-toggle>
      </ion-button>
      <ion-button  (click)="editPatient()">
        <ion-icon name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'PATIENT.PATIENT' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <div *ngIf="offlineMode" class='running-mode'>
        <ion-icon color="medium" name="airplane"></ion-icon>
        <ion-text color="primary">
          Offline Mode
        </ion-text>
      </div>
      <div *ngIf="!offlineMode" class='running-mode'>
        <ion-icon color="success" name="wifi"></ion-icon>
        <ion-text color="primary">
          Online Mode
        </ion-text>
      </div>
    </ion-card-header>
  
    <ion-card-content>
      <div *ngIf="offlineMode" class="headset-status">
        <div *ngIf="headsetConnectedState == headsetStates.ready">
          <ion-icon color="primary" name="checkmark-circle-outline"></ion-icon>
          <ion-text color="primary">
            The connected headset is ready.
          </ion-text>
        </div>
        
        <div *ngIf="headsetConnectedState == headsetStates.preparing">
          <ion-spinner></ion-spinner>
          <ion-text color="primary">
            We are preparing the connected headset now, please wait...
          </ion-text>
        </div>
        
        <div *ngIf="headsetConnectedState == headsetStates.unauthorized">
          <ion-icon color="warning" name="alert"></ion-icon>
          <ion-text color="warning">
            The connected headset is not authorized!
          </ion-text>
        </div>
        <div *ngIf="headsetConnectedState == headsetStates.not_ready">
          <ion-icon color="warning" name="alert"></ion-icon>
          <ion-text color="warning">
            The connected headset is not ready, you can try to re-plug it.
          </ion-text>
        </div>
        
        <div *ngIf="headsetsPrepared.length">
          <ion-icon color="success" name="checkmark-circle-outline"></ion-icon>
          <ion-text color="success">
            You have some ready headsets, you are save to run a module now.
          </ion-text>
        </div>
        
        <div *ngIf="!headsetsPrepared.length && !(headsetConnectedState == headsetStates.preparing)">
          <ion-icon color="danger" name="close-circle-outline"></ion-icon>
          <ion-text color="danger">
            You have no headsets ready yet, Plug the headset through the USB first.
          </ion-text>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="primary">{{patient?.name}}</ion-card-title>
      <ion-card-subtitle color="medium">{{'PATIENT.DIAGNOSIS' | translate }}: {{patient?.diagnosis}}</ion-card-subtitle>
      <ion-card-subtitle color="medium">{{'PATIENT.DATE_OF_BIRTH' | translate }}: {{patient?.date_of_birth}}</ion-card-subtitle>
      <ion-card-subtitle color="medium">{{'PATIENT.PHONE' | translate }}: {{patient?.phone}}</ion-card-subtitle>
      <ion-card-subtitle color="medium">{{'PATIENT.HAS_GUARDIAN' | translate }}: {{ (patient?.has_guardian ? 'YES' : 'NO') | translate}}</ion-card-subtitle>
      <ion-card-subtitle color="medium" *ngIf="patient?.has_guardian" >{{'PATIENT.GUARDIAN_NAME' | translate }}: {{patient?.guardian_name}}</ion-card-subtitle>
      <ion-card-subtitle color="medium">{{'PATIENT.ADDRESS' | translate }}: {{patient?.address}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-avatar slot="start">
        <ion-img [src]="patient?.photo ||'assets/imgs/avatar.png'"></ion-img>
      </ion-avatar>
      <ion-item>
        <ion-label color="primary" position="stacked">{{'PATIENT.NOTES' | translate }}</ion-label>
        {{patient?.notes}}
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-list-header>
      
      <ion-label color="medium"> <ion-icon name="albums"></ion-icon> {{'PATIENT.MODULES' | translate }}</ion-label>
    </ion-list-header>
    <ion-grid>
      <ion-row align-items-start justify-content-center>
        <ion-col size="12" size-md="6" *ngFor="let module of modules">
          <ion-card>
            <ion-card-header>
              <ion-card-title color="medium">{{module?.name}}</ion-card-title>
            </ion-card-header>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-button  expand="block" size="small"  color="primary" (click)="runModule(module)"
                  [disabled] = "offlineMode && !headsetsPrepared.length">
                    {{'PATIENT.START_MODULE' | translate}}
                  </ion-button>
                </ion-col>
                <ion-col>                 
                  <ion-button fill="outline" size="small" expand="block" color="secondary"
                    [routerLink]="['/patient/', patient.id, 'modules', module.id, 'charts']">
                    Show Statistics
                  </ion-button>
                </ion-col>
              </ion-row>  
            </ion-grid>
          </ion-card>
        </ion-col>
        <div class="empty-content" *ngIf="!modules?.length">
          <div class="illustration-wrapper">
            <ion-icon name="folder-open"></ion-icon>
          </div>
          <div class="empty-text">Patient Has No Modules!</div>
        </div>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
