<html>
    <head>
        <meta charset="UTF-8">
        <title>Console Log</title>
    </head>
    <body>
        <div id="console-body"></div>
        <style>
            body {
                background: black;
            }

            #console-body{
                color: turquoise;
                font-family: monospace;
                letter-spacing: 1.3px;
                padding-bottom: 20%;
                font-size: 11px;
            }
            span {
                color: ivory;
            }
        </style>
        <script src="../js/console.js"></script>
    </body>
</html>