<html>
    <head>
        <meta charset="UTF-8">
        <title>Console Log</title>
    </head>
    <body>
        <div id="console-body"></div>
        <style>
            body {
                background: black;
            }

            #console-body{
                color: green;
                line-height: 1px;
                font-family: monospace;
                letter-spacing: 2px;
                padding-bottom: 20%;
            }
        </style>
        <script src="../js/console.js"></script>
    </body>
</html>