<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'PATIENT.PATIENT' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-list-header>
      Sessions
    </ion-list-header>
    <ion-item *ngFor="let session of sessions" >
      <ion-label (click)="getStatistics(session.id)" >
        {{ session?.session_date }}
      </ion-label>
    </ion-item>
  </ion-list>
  <div>
    <app-stats *ngIf="showStats" [allData]="sessionStatistics"></app-stats>
  </div>
</ion-content>