<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'PATIENT.PATIENT' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <h5 class="selected">
    Sessions
  </h5>
  <ion-list class="sessions-list" *ngIf="sessions?.length" >
    <ion-item *ngFor="let session of sessions" color="light">
      <ion-label (click)="getStatistics(session.id)" [ngClass]="{'selected': session.id == selectedSessionId}" >
        {{ session?.session_date }}
      </ion-label>
    </ion-item>
  </ion-list>
    <div class="empty-content" *ngIf="!sessions?.length">
      <div class="illustration-wrapper">
        <ion-icon name="analytics"></ion-icon>
      </div>
      <div class="empty-text">No Sessions Available</div>
    </div>

    <app-stats *ngIf="showStats" [moduleId]= "moduleId" [allData]="sessionStatistics"></app-stats>
</ion-content>