<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'PATIENT.PATIENT' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-list-header>
      Sessions
    </ion-list-header>
    <ion-item *ngFor="let session of sessions" >
      <ion-label (click)="getStatistics(session.id)" >
        {{ session?.session_date }}
      </ion-label>
    </ion-item>
  </ion-list>
  <div style="display: block;">
      <canvas baseChart
      [datasets]="chartsService.barChartData"
      [labels]="chartsService.barChartLabels"
      [options]="chartsService.barChartOptions"
      [legend]="chartsService.barChartLegend"
      [chartType]="chartsService.barChartType"
      [colors]="chartsService.chartColors"
      [plugins]="chartsService.barChartPlugins"
      >
    </canvas>
  </div>
  
  <div style="display: block;">
    <canvas baseChart 
      [datasets]="chartsService.lineChartData"
      [labels]="chartsService.lineChartLabels"
      [options]="chartsService.lineChartOptions"
      [legend]="chartsService.lineChartLegend"
      [chartType]="chartsService.lineChartType"
      [colors]="chartsService.chartColors"
      [plugins]="chartsService.lineChartPlugins">
    </canvas>
  </div>
</ion-content>